.logo {
    height: 180px;
    background: transparent;
}

.profilesContainer {
    display: flex;
    justify-content: space-evenly;
}

.profileLinks {
    display: flex;
    flex-direction: column;
}

.profileImages {
    height: 250px;
    margin: 0 1rem 0 0;
}

.monolith-tech-img {
    width: 80%;
    height: auto;
}

.nx-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nx-logo {
    width: 50%;
    height: auto;
}

.quote {
    color: #8b7c69;
    font-style: italic;
}

.pre {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
}
