.logo {
    height: 180px;
    background: transparent;
}

.profilesContainer {
    display: flex;
    justify-content: space-evenly;
}

.profileLinks {
    display: flex;
    flex-direction: column;
}

.profileImages {
    height: 250px;
    margin: 0 1rem 0 0;
}

.monolith-tech-img {
    width: 80%;
    height: auto;
}

.requirements {
    color: #8b7c69;
    font-style: italic;
}
